
*.bbl

*.log

*.aux

tex-supp/fig/.DS_Store

tex-supp/.DS_Store

.DS_Store
TSWLatexianTemp_000083.aux TSWLatexianTemp_000083.bbl TSWLatexianTemp_000083.blg TSWLatexianTemp_000083.log TSWLatexianTemp_000083.pdf TSWLatexianTemp_000083.synctex TSWLatexianTemp_000083.tex
